<template>
  <form @submit.prevent="handleSubmit">
    <label for="name">Title:</label>
    <input v-model="name" type="text" required/>
    <div v-if="nameErr && !name" class="text-danger text-sm my-1">{{ nameErr }}</div>
    <label for="details">Details:</label>
    <textarea v-model="details" required></textarea>
    <div v-if="detailsErr && !details" class="text-danger text-sm my-1" required>{{ detailsErr }}</div>
    <button>Add Project</button>
  </form>
</template>

<script>
export default {
  data() {
    return {
      name: "",
      details: "",
      nameErr: "",
      detailsErr: ""
    };
  },
  methods: {
    handleSubmit() {
      if (this.name && this.details) {
        const project = {
          name: this.name,
          details: this.details,
          completed: false,
        };
        fetch("https://serene-dawn-05876.herokuapp.com/api/tasks", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "Access-Control-Allow-Origin":
              "https://serene-dawn-05876.herokuapp.com",
          },
          body: JSON.stringify({ task: project }),
        })
          .then(() => {
            this.$router.push("/");
          })
          .catch((err) => {
            console.log(err.message);
          });
      } else {

        this.nameErr = this.detailsErr = ''

        if (!this.name) {
          this.nameErr = 'Name is required';
        }
        if (!this.details) {
          this.detailsErr = 'Details required'
        }
      }
    }
  }
};
</script>

<style>
form {
  background: white;
  padding: 20px;
  border-radius: 10px;
}
label {
  display: block;
  color: #bbb;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 20px 0 10px 0;
}
input {
  padding: 10px;
  border: 0;
  border-bottom: 1px solid #ddd;
  width: 100%;
  box-sizing: border-box;
}
textarea {
  border: 1px solid #ddd;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  height: 100px;
}
form button {
  display: block;
  margin: 20px auto 0;
  background: #00ce89;
  color: white;
  padding: 10px;
  border: 0;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}
</style>