<template>
  <form @submit.prevent="handleSubmit">
    <label for="name">Title:</label>
    <input v-model="name" type="text" required />
    <div v-if="nameErr && !name" class="text-danger text-sm my-1">
      {{ nameErr }}
    </div>
    <label for="details">Details:</label>
    <textarea v-model="details" required></textarea>
    <div v-if="detailsErr && !details" class="text-danger text-sm my-1">
      {{ detailsErr }}
    </div>
    <button>Edit Project</button>
  </form>
</template>

<script>
export default {
  props: ["id"],
  data() {
    return {
      name: "",
      details: "",
      uri: `https://serene-dawn-05876.herokuapp.com/api/tasks/${this.id}`,
      completed: false,
      detailsErr: "",
      nameErr: "",
    };
  },
  methods: {
    handleSubmit() {
      if (this.name && this.details) {
        fetch(this.uri, {
          method: "PUT",
          headers: {
            "Content-Type": "application/json",
            "Access-Control-Allow-Origin":
              "https://serene-dawn-05876.herokuapp.com",
          },
          body: JSON.stringify({
            task: {
              name: this.name,
              details: this.details,
              completed: this.completed,
            },
          }),
        })
          .then(() => {
            this.$router.push({ name: "Home" });
          })
          .catch((err) => {
            console.log(err.message);
          });
      } else {
        this.nameErr = this.detailsErr = ''

        if (!this.name) {
          this.nameErr = 'Name is required';
        }
        if (!this.details) {
          this.detailsErr = 'Details required'
        }
      }
    },
  },
  mounted() {
    fetch(this.uri, {
      headers: {
        "Content-Type": "application/json",
        "Access-Control-Allow-Origin":
          "https://serene-dawn-05876.herokuapp.com",
      },
    })
      .then((res) => res.json())
      .then((data) => {
        this.completed = data.completed;
        this.name = data.name;
        this.details = data.details;
      })
      .catch((err) => console.log(err.message));
  },
};
</script>

<style>
</style>