<template>
  <div class="home">
    <h1>Project Planner</h1>
    <FilterNav @filterChange="current = $event" :current="current" />
    <div v-if="projects.length">
      <div v-for="project in filtered" :key="project.id">
        <SingleProject
          :project="project"
          @delete="handleDelete"
          @complete="handleComplete"
        />
      </div>
    </div>
    <div v-else-if="loading">
      <p class="text-center">Loading...</p>
    </div>
    <div v-else>
      <p class="text-center">No projects to display</p>
    </div>
  </div>
</template>

<script>
import SingleProject from "../components/SingleProject.vue";
import FilterNav from "../components/FilterNav.vue";

export default {
  name: "Home",
  components: {
    SingleProject,
    FilterNav,
  },
  data() {
    return {
      projects: [],
      current: "all",
      loading: false,
    };
  },
  computed: {
    filtered() {
      const filteredProjects = this.projects.filter((p) => {
        if (this.current === "ongoing") {
          return !p.completed;
        } else if (this.current === "completed") {
          return p.completed;
        } else {
          return p;
        }
      });
      return filteredProjects;
    },
  },
  methods: {
    handleDelete(id) {
      this.projects = this.projects.filter((project) => {
        return project.id !== id;
      });
    },
    handleComplete(id) {
      const project = this.projects.find((p) => p.id === id);
      project.completed = !project.completed;
    },
    async getTasks() {
      this.loading = true;
      const res = await fetch("https://serene-dawn-05876.herokuapp.com/api/tasks", {
        headers: {
          "Content-Type": "application/json",
          "Access-Control-Allow-Origin": "https://serene-dawn-05876.herokuapp.com",
        },
      });
      const data = await res.json();
      this.loading = false;
      this.projects = data;
    },
  },
  created() {
    this.getTasks();
  },
};
</script>

<style>
.text-center {
  text-align: center;
}
</style>