<template>
  <div class="project" :class="{complete: project.completed}">
    <div class="actions">
      <h3 @click="toggleDetails">{{ project.name }}</h3>
      <div class="icons">
        <router-link :to="{ name: 'EditProject', params: { id: project.id } }">
          <span class="material-icons">mode</span>
        </router-link>
        <span @click="deleteProject" class="material-icons">delete</span>
        <span @click="toggleComplete" class="material-icons tick">check</span>
      </div>
    </div>
    <div v-if="showDetails" class="details">
      <p>{{ project.details }}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: ['project'],
  data() {
    return {
      showDetails: false,
      uri: `https://serene-dawn-05876.herokuapp.com/api/tasks/${this.project.id}`
    }
  },
  methods: {
    toggleDetails() {
      this.showDetails = !this.showDetails
    },
    toggleComplete() {
      fetch(this.uri, {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json',
          'Access-Control-Allow-Origin': 'https://serene-dawn-05876.herokuapp.com'
        },
        body: JSON.stringify({
          task: {
            name: this.project.name,
            details: this.project.details,
            completed: !this.project.completed
          }
        })
      }).then(() => {
        this.$emit('complete', this.project.id)
      }).catch(err => {
        console.log(err.message)
      })
    },
    deleteProject() {
      fetch(this.uri, {
        method: 'DELETE'
      }).then(() => {
        this.$emit('delete', this.project.id)
      }).catch(err => {
        console.log(err.message)
      })
    }
  }
}
</script>

<style>
  .project {
    margin: 20px auto;
    background: white;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.5);
    border-left: 4px solid #e90074;
    transition: 0.25s;
  }
  .project.complete {
    border-left: 4px solid #00ce89;
  }
  .project.complete .tick {
    color: #00ce89;
  }
  h3 {
    cursor: pointer;
  }
  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center
  }
  .material-icons {
    font-size: 24px;
    margin-left: 10px;
    color: #bbb;
    cursor: pointer;
    transition: 0.25s;
  }
  .material-icons:hover {
    color: #777;
  }
</style>