<template>
  <Navbar/>
  <router-view/>
</template>

<script>
  import Navbar from './components/Navbar.vue'
  
  export default {
    components: { Navbar }
  }
</script>

<style>
body {
  background: #f2f2f2;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 600px;
  margin: 0 auto;
  color: #555;
}
.text-danger {
  color: tomato;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
</style>
